<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de historias médicas</title>
    <link rel="stylesheet" href="../static/assets/css/bulma.css" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>

  <body>
    <section class="hero is-danger">
      <div class="hero-body">
        <span class="title">Sistema de historias médicas</span>

        <div class="tooltip" style="position: absolute; right: 5em">
          <a class="title is-4" href="cerrar_sesion.html"
            ><img
              src="../static/cerrar_sesion.png"
              height="50px"
              width="50px"
            />
          </a>
          <span class="tooltiptext">Cerrar sesión</span>
        </div>
      </div>
    </section>

    <br />
    <br />
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="container">
      <div class="content">
        <article class="message is-success">
          <div class="message-header">
            <p>Mensaje</p>
            <form method="POST">
              <button
                name="btn_actualizar"
                type="submit"
                class="delete"
                aria-label="delete"
              ></button>
            </form>
          </div>
          <div class="message-body">
            <ul class="flashes">
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        </article>

        {% endif %} {% endwith %}
      </div>
      <br />
    </div>
    <!---->

    <div class="container">
      <h1 class="title is-3">Detalle de la historia médica</h1>
    </div>

    <br />
    <br />

    <div class="container">
      <h1 class="title is-4">Datos del paciente</h1>
      <div class="content">
        <ul>
          <li>Hash: {{hash_paciente}}</li>
          <li>DNI: {{paciente['transactions']['dni']}}</li>
          <li>Nombre: {{paciente['transactions']['nombres']}}</li>
          <li>Apellido: {{paciente['transactions']['apellidos']}}</li>
          <li>Edad: {{edad}} años</li>
        </ul>
      </div>
    </div>

    {% if historia|count()>0: %}

    <table
      class="table container is-bordered is-striped is-narrow is-fullwidth"
      style="margin-top: 1.5em"
    >
      <thead class="has-text-centered">
        <tr>
          <th style="width: 12%"><abbr>Fecha y hora</abbr></th>
          <th style="width: 15%"><abbr>Título</abbr></th>
          <th style="width: 15%"><abbr>Doctor</abbr></th>
          <th style="width: 15%"><abbr>Especialidad</abbr></th>
          <th style="width: 15%"><abbr>Centro médico</abbr></th>
          <th style="width: 28%"><abbr>Descripción</abbr></th>
        </tr>
      </thead>
      <tbody class="has-text-centered">
        {% for linea in historia: %}
        <tr>
          <td>{{linea['timestamp']}}</td>
          <td>{{linea['transactions']['titulo']}}</td>
          <td>{{linea['transactions']['nombres_apellidos_doctor']}}</td>
          <td>{{linea['transactions']['especialidad_doctor']}}</td>
          <td>{{linea['transactions']['lugar']}}</td>
          <td class="has-text-justified">
            {{linea['transactions']['descripcion']}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% else %}

    <div class="title is-5" style="text-align: center; margin-top: 1.5em">
      No existen registros
    </div>

    {% endif %}

    <div>
      <form
        class="container"
        action="detalle_historia.html?dni={{paciente['transactions']['dni']}}"
        method="POST"
        autocomplete="off"
      >
        <strong>Registro de hoy</strong>

        <input
          class="input"
          type="text"
          name="inputTitulo"
          placeholder="Título"
          style="margin-top: 1.5em; margin-bottom: 1.5em"
        />

        <input
          class="input"
          type="text"
          name="inputLugar"
          placeholder="Centro médico"
          style="margin-bottom: 1.5em"
        />

        <textarea
          class="textarea"
          name="inputDescripcion"
          placeholder="Descripción"
          style="margin-bottom: 1.5em"
        ></textarea>

        <button type="submit" name="btn_registrar" class="button">
          Registrar linea
        </button>
      </form>
    </div>

    <br />
    <br />

    <footer
      class="footer"
      style="
        background-image: url(https://www.sydicol.com.co/wp-content/uploads/2017/08/modulo-historias-clinicas.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      "
    >
      <div class="content has-text-centered">
        <p style="color: cornsilk; font-size: 20px">
          <b
            >Sistema de historias médicas con Blockchain por Gary Candia, Luis
            Suarez y Leonardo Zambrano.</b
          >
        </p>
      </div>
    </footer>
  </body>
</html>
