<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión documentaria Covid19</title>
</head>

<body>
    <section>
        <div>
            <div>
                <h1>
                    Gestión Documentaria Covid19
                </h1>
            </div>
        </div>
    </section>
    <br>
    <br>
    <div>
        <div>
            <a href="registrar_paciente.html">
                registrar paciente
            </a>
        </div>
    </div>
    <br>
    <br>
    <div>
        <div>
            <a href="get_chain">
                buscar pacientes
            </a>
        </div>
    </div>

</body>

</html>